/*sub.html*/
// ローディング画面
#loading-container {
  /* ローディング画面のコンテナのスタイルを指定する */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 230, 230, 0.5); /* 半透明の背景色 */
  z-index: 9999; /* 他の要素よりも手前に表示するためのz-index値 */
}
.loading__icon {
  position: absolute;
  top: 35%;
  left: 41.5%;
  width: min(50vw, 250px);
  height: min(50vw, 250px);
  border-radius: 50%;
  border: 5px solid;
  border-color: orange #ffedcc #ffedcc;
}
.loading__icon {
  -webkit-animation: loading-rotate 3s infinite linear;
          animation: loading-rotate 3s infinite linear;
}
@keyframes loading-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
// 背景のアニメーション
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #8A2BE2 50%, yellow 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
//タイトル
.label{
  font-size:46px;
  text-align: center;
  border-bottom: solid 3px black;
  text-shadow: 5px 3px 3px blue;
  color: orange;
}
//画像の背景・位置
#img{
  text-align: center;
  background-color: #04BBD3;
  border-bottom: solid 3px black;
}
#mg{
    position: relative;
    left: 68.7%;
}
//ルール説明のテキスト
#myText {
  display:none;
  text-align: left;
  position: absolute;
  top: 70px;
  left: 1100px;
  font-size: 24.5px;
}
//STARTボタン
#st{
    font-size:40px;
    text-align: center;
    margin-bottom: -1px;
    margin-top: -24px;
    vertical-align:-1000%;
}

//STARTボタンのアニメーション
.answer .btn {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 650px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -15px;
  cursor: pointer;
}
.answer .btn.cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
}
.answer .btn.cubic .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
}
.answer .btn.cubic .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
}
.answer .btn.cubic:hover .hovering {
  transform: rotateX(0);
}
.answer .btn.cubic:hover .default {
  transform: rotateX(-90deg);
}
/*index.html*/
#ma {
    color: black;
    font-size: 20px;
  }
  
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh;
    width:280px;
  }
  #container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #board{
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #999;
    max-width: 100%;
    background: #fff;
    text-align: center;
  }
  .cell:hover{
    background-color: rgb(219, 217, 217);
  }
  
  td {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    // color: orangered;
  }
  
  #back {
    text-align: center;
  }
  #select{
    height: 80px;
    width: 80px;
    position:absolute;
    top:35%;
    left: 45%;
  }
  #se{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
  }
  #option{
    font-size:30px;
  }
  #bu{
    text-align: center;
  }
  #bg_1{
    background-color: whitesmoke;
    width: 250px;
    font-size:40px;
    text-align: center;
    margin:auto;
  }
  #bg_2{
    background-color: whitesmoke;
    width: 250px;
    font-size:40px;
    text-align: center;
    margin:auto;
  }
  #player_1{
    color:orange;
  }
  #player_2{
    color:blue;
  }
  #turn{
    display: inline-block;
    font-size:30px;
    color: orange;
    margin-left:3% ;
  }
  .cell{
    color:orange;
  }
  #canvasContainer {
    position: relative;
    width: 120%;
    height:120%;
  }

  #myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #overlayDiv {
    position: absolute;
    top: -7px;
    z-index: 2;
    padding: 10px;
    width: 80%;
    height: 100%;
  }
  html, body {
    margin: 0;
    padding: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  #canvas {
    width: 100%;
    height: 100%;
    background: #04BBD3;
    opacity:50%
  }
  #con-tex{
    display: flex;
    margin-top: 42px;
  }
#no{
  margin-left: 24%;
}
#sp{
  margin-left:60px;
}
.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
}
.flex .image img {
  width: 100%;
  height: auto;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}
#text-detail{
  font-size:20px;
  margin-top:40px;
  margin-left:100px;

}
a.btn_19 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
	animation: move_a 2s infinite;
}
@keyframes move_a {
    0% {transform: translate(0px, 4px);}
    5% {transform: translate(0px, -4px);}
    10% {transform: translate(0px, 4px);}
    15% {transform: translate(0px, -4px);}
    20% {transform: translate(0px, 4px);}
    25% {transform: translate(0px, -4px);}
    30% {transform: translate(0px, 0px);}
}
a.btn_19:hover {
	color: #27acd9;
	background: #fff;
}

